body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Otomanopee One";
  src: url("./fonts/OtomanopeeOne-Regular.ttf");
}

@font-face {
  font-family: "Black Han Sans";
  src: url("./fonts/BlackHanSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("./fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("./fonts/NotoSansKR-Bold.otf");
}
